# Base URL of the mock server (see https://github.com/mosaic-avantos/frontendchallengeserver)
VITE_GRAPH_API_BASE=http://localhost:3000
VITE_TENANT_ID=1
VITE_BLUEPRINT_ID=bp_01jk766tckfwx84xjcxazggzyc
